* Main view in which all other views are included
<script setup>
import sidebar from './components/SideBar.vue'
import topbar from './components/TopBar.vue'
import footbar from './components/FootBar.vue'
import router from './router/router'
</script>

<template>
<div>
  <topbar />
</div>
<div>
  <sidebar />
</div>
<div style="margin-left:300px; margin-right:300px; margin-bottom:50px">
  <router-view />
</div>
<div>
  <footbar />
</div>
</template>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}
</style>
