* Shows the evaluation result for one control
<script setup>
  import * as data from '../data/data'
</script>

<script>
export default {
  data() {
    return {
    }
  },
  props: {
      cEval: {
        type: Object,
         default: () => ({})
    }
  },
  methods: {
    showjson: function() {
      alert(data.getEvidence(cEval.evidenceId));
    }
  }
}
</script>

<template>
  <div class="card" style="width: 16rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">{{cEval.controlName}}</h6>
    <span v-if="cEval.controlRes" class="dot" style="background-color:green"></span> 
    <span v-else class="dot" style="background-color:red"></span> 
    <p class="card-text">{{ cEval.controlMessage }}</p>
    <button type="button" class="btn btn-primary" v-on:click="showjson">Result (json)</button>
  </div>
</div>
</template>

<style>
.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
</style>