* Generates the footbar. 
<script>
export default {
  data() {
    return {
    }
  },
  methods: {
    getYear() {
      var today = new Date();     
      const date = today.getFullYear();
      return date
    }
  }
}
</script>

<template>
<div>
    <p>Gaia-X {{ getYear() }}</p>
</div>  
</template>

<style scoped>
div {
  text-align: center;
  background-color: rgb(38, 86, 114);
  color: rgb(233, 235, 233);
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: "Arial";
  padding: 10px;
}
</style>