* Creates a piechart which shows the sum of compliant and not compliant services
<script setup>
import BarChart from '../components/barChart.ts'
import * as data from '../data/data'
</script>

<script>
export default {
  mounted () {
      console.log(this.getDates())
  },
  data() {
    return {
    chartdata: {
      labels: this.getDates(),
      datasets: [
        {
          label: 'Compliant services',
          backgroundColor: '#f87979',
          data: data.getCompPerDay()
        }
      ]
    }
  }
},
    methods: {
        getDates(){
            var labels = [];
            var i = 0;
            for (; i < 31; i++) {
             var target = new Date();     
             target.setDate(target.getDate()-i-1);
             const date = target.getDate()+'.'+(target.getMonth()+1)+'.'+target.getFullYear();
             labels.push(date);
            }
            return labels;                  
        }
    }
}
</script>

<template>
  <BarChart :chartData="chartdata" />
</template>