* Lists for a given service all controls
* With checkboxes the controls to apply to this service can be selected
* Used for the configuration of services

<script>
import { computed } from '@vue/runtime-core'
import * as data from '../data/data'
export default {
  data() {
    return {
      controls: []
    }
  },
  props: {
    sname: String,
    sid: String
  },
  created() {
    data.getAllControls().then(resp => this.controls = resp.requirements);
  }
}
</script>

<template>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ sname }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Select controls to monitor</h6>
      <p v-for="(item, index) in controls">
        <input type="checkbox" :id="sid + index" v-model="checked" />
        <label :for="sid + index">{{ item.name }}</label>
      </p>
    </div>
  </div>
</template>

<style scoped>
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
</style>