* Show the evaluation result for one service with all controls
<script setup>
import * as data from '../data/data'
</script>

<script>
import ControlEval from '../components/ControlEval.vue'
export default {
      components: {
    ControlEval
  },
  data() {
    return {
    }
  },
  props: {
      sEval: {
        type: Object,
         default: () => ({})
    }
  }
}
</script>

<template>
<div class="card"> <!-- style="width: 18rem;">-->
  <div class="card-body">
    <h5 class="card-title">{{sEval.serviceName}}</h5>
    <!-- Show result for each control of this service -->
      <p v-for="item in sEval.controls">
    <ControlEval :cEval="item"/>
  </p>
  </div>
</div>
</template>