* Represents the sidebar of the page

<script>
export default {
  data() {
    return {
                      menu: [
                    {
                        header: false,
                        title: 'CAM - Dashboard',
                        // component: componentName
                        // visibleOnCollapse: true
                    },
                    {
                        href: '/',
                        title: 'Home',
                        //icon: 'fa fa-user',
                        /*
                        disabled: true
                        badge: {
                            text: 'new',
                            // class:''
                        }
                        */
                    },
                    {
                        href: '/evaluation',
                        title: 'Evaluation',
                        //icon: 'fa fa-user',
                        /*
                        disabled: true
                        badge: {
                            text: 'new',
                            // class:''
                        }
                        */
                    },
                    {
                        href: '/history',
                        title: 'History',
                        //icon: 'fa fa-user',
                        /*
                        disabled: true
                        badge: {
                            text: 'new',
                            // class:''
                        }
                        */
                    },
                    {
                        href: '/configuration',
                        title: 'Configuration',
                        //icon: 'fa fa-user',
                        /*
                        disabled: true
                        badge: {
                            text: 'new',
                            // class:''
                        }
                        */
                    },
                            {
                        href: '/settings',
                        title: 'Settings',
                        //icon: 'fa fa-user',
                        /*
                        disabled: true
                        badge: {
                            text: 'new',
                            // class:''
                        }
                        */
                    }
                    
                ]
    }
  }
}
</script>

<template>
  <sidebar-menu :menu="menu" />
</template>