* Creates a piechart which shows the sum of compliant and not compliant services
<script setup>
import PieChart from '../components/pieChart.ts'
import * as data from '../data/data'
</script>
<script>
export default {
  data() {
    return {
      chartdata: {
      labels: ['Compliant', 'Not Compliant'],
      datasets: [
        {
          backgroundColor: ['#41B883', '#E46651', '#00D8FF', '#DD1B16'],
          data: [data.getNumberofCompliantServices(), data.getNumberofServices()-data.getNumberofCompliantServices()]
        }
      ]
    }
    }
  }
}
</script>

<template>
  <PieChart :chartData="chartdata" />
</template>