* Generates the topbar. It displays the name of the current view
<script>
export default {
  data() {
    return {
    }
  },
  computed: {
    currentRouteName() {
        return this.$route.name;
    }
  },
  methods: {
    logout() {
      alert("user management not implemented yet")
    }
  }
}
</script>

<template>
<div>
    <h1>{{ currentRouteName }} <!--<button type="button" class="btn btn-danger" v-on:click="logout()" style="float: right;">Logout </button>--> </h1>
    
</div>  
</template>

<style scoped>
div {
  text-align: center;
  background-color: rgb(38, 86, 114);
  color: rgb(233, 235, 233);
  font-family: "Arial";
}
</style>