* In this view the user can configure the controls to be monitored for each service

<script setup>
import ServiceConfig from '../components/ServiceConfig.vue'

</script>
<script>
import { computed } from '@vue/runtime-core'
import * as data from '../data/data'
export default {
  data() {
    return {
      services: []
    }
  },
  created() {
    console.log("test2");
    data.getAllServices().then(resp => {
      console.log(resp);
      this.services = resp.services;
    });
  },
  methods: {
    save: function () {
      alert('Save...')
      // TODO: How to save config?
    },
    add: function () {
      let name = prompt("Service name:", "Service");
      data.newService(name);
    },
  }
}
</script>

<template>
  <button type="button" class="btn btn-success" v-on:click="add">Add new service</button>
  <p></p>
  <div class="card-columns">
    <p v-for="item in services">
      <ServiceConfig :sname="item.name" :sid="item.id" />
    </p>
  </div>
  <button type="button" class="btn btn-success" v-on:click="save">Save configuration</button>
</template>

<style>
.card-columns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
</style>