// Shows the evaluation results for all services
<script setup>
import * as data from '../data/data'
</script>

<script>
import ServiceEval from '../components/ServiceEval.vue'

export default {
  components: {
    ServiceEval
  },
  data() {
    return {
    }
  }
}
</script>

<template>
  <!-- For each service show a service eval -->
  <div class="card-columns">
  <p v-for="item in data.getEval()">
    <ServiceEval :sEval="item"/>
  </p>
  </div>
</template>

<style>
.card-columns {
    display: flex;
    justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
  }
</style>