* Shows the evaluation results of the last 30 days
<script setup>
  import $ from 'jquery'
  import ServiceEval from '../components/ServiceEval.vue'
  import historychart from '../components/HistoryChart.vue'
  import * as data from '../data/data'
</script>

<script>
export default {
  data() {
    return {
      selectedDate: new Date(),
      selectedDay: Number
    }
  },
  methods: {
    getDay(n) {
      var target = new Date();     
      target.setDate(target.getDate()-n);
      const date = target.getDate()+'.'+(target.getMonth()+1)+'.'+target.getFullYear();
      return date
    },
    dateChanged(event){
      this.selectedDate.setDate(this.selectedDate.getDate()-event.target.value)
      this.selectedDay=event.target.value;
    }
  },
  beforeMount() {
    this.selectedDay = 1;
  }
}
</script>

<template>
<div>
  <!-- Overall summary -->
  <h1>Summary over the last 30 days</h1>
  <p>Days were all services were compliant: {{ data.getDaysCompliant()}} of {{data.getHistory().length}} </p>
  <p>Most compliant service: {{ data.getMostCompliantService()}}</p>
  <p>Least compliant service: {{ data.getLeastCompliantService()}}</p>  
</div>
<div>
  <historychart />
</div>
<div>
   <!-- Details for a specific date -->
  &nbsp;&nbsp;&nbsp;&nbsp;
  <h1>Evaluation for a specific date</h1>
  <p>Select date</p>
  <select name="date" @change="dateChanged($event)"  id="date">
    <option v-for="n in 30" v-bind:key="n" v-bind:value="n">-{{ n }} days | {{ getDay(n)}}</option>
  </select>
<!-- show evaluation result for selected date -->
<div class="card-columns">
  <p v-for="item in data.getEvalForDay(selectedDay)">
    <ServiceEval :sEval="item"/>
  </p>
 </div> 
</div>
</template>

<style>
.card-columns {
    display: flex;
    justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
  }
</style>