* Home and default view. Shows a summary of the evaluation
<script setup>
import summarychart from '../components/SummaryChart.vue'
import * as data from '../data/data'
</script>

<script>
export default {
  data() {
    return {
    }
  }
}
</script>

<template>
  <div id="overview">
  <h3>Monitoring {{ data.getNumberofServices() }} services</h3>
  <h3>{{ data.getNumberofCompliantServices() }} compliant</h3>
  <h3>{{ data.getNumberofServices()-data.getNumberofCompliantServices() }} not compliant</h3>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <div id="diagramm">
    <summarychart />
  </div>
</template>