* Not in use for now
* Might be used in future for login

<script>
export default {
  data() {
    return {
    }
  },
  methods: {
    login() {
      alert("login not implemented yet")
    }
  }
}
</script>

<template>
   <div id="login">
        <h1>Login</h1>
        <input type="text" name="username"  placeholder="Username" />
        <input type="password" name="password"  placeholder="Password" />
        <button type="button" v-on:click="login()">Login</button>
    </div>

</template>