* Here general Settings can be set
<script>
import * as data from '../data/data'
export default {
  data() {
    return {
      setKey: "key",
      setValue: "value",
      getKey: "key",
      getValue: "value",
      endpoint: "",
      user: "",
      pw: "",
      configfile: null,
    }
  },
  methods: {
    set: function() {
      data.setSetting(this.setKey,this.setValue);
    },
    get: function() {
      this.getValue = data.getSetting(this.getKey);
    },
    saveos: function(){
      data.setOpenStack(this.endpoint,this.user,this.pw);
    },
    uploadFile () {
      data.setSKubernetes(this.configfile);
    },
    onFilePicked (event) {
      const files = event.target.files
      this.configfile = event.target.files[0]
      let filename = files[0].name
      const fileReader = new FileReader()
      fileReader.addEventListener('load', () => {
        this.configfile = fileReader.result
      })
      fileReader.readAsText(files[0])
    },
    showconfig: function() {
      alert(String(this.configfile));
    }
  }
}
</script>

<template>
<h3> Key / Value Pairs</h3>
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Get Value</h5>
    <h6 class="card-subtitle mb-2 text-muted">Enter key</h6>
    <p>
      <input  v-model="getKey" placeholder="key" />
      <input v-model="getValue" placeholder="value" disabled="true" />
      <button type="button" class="btn btn-success" v-on:click="get">Get value</button>
    </p>
  </div>
</div>

  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Set Value</h5>
    <h6 class="card-subtitle mb-2 text-muted">Enter key and value</h6>
    <p>
      <input v-model="setKey" placeholder="key" />
      <input v-model="setValue" placeholder="value" />
      <button type="button" class="btn btn-success" v-on:click="set">Set value</button>
    </p>
  </div>
</div>

<h3>OpenStack config</h3>
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <p>Identity Endpoiont</p>
     <input v-model="endpoint" />
    <p> Username</p>
     <input v-model="user"  />
    <p>Password</p>
     <input v-model="pw" type="password"/>     
      <button type="button" class="btn btn-success" v-on:click="saveos">Save</button>
  </div>
</div>

<h3>Kubernetes config</h3>
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Kubernetes config file</h5>
     <input type="file" ref="fileInput" @change="onFilePicked"/> 
      <button type="button" class="btn btn-success" v-on:click="uploadFile">Upload</button>
      <button type="button" class="btn btn-success" v-on:click="showconfig">Show current file</button>
  </div>
</div>
</template>

<style>
.card-columns {
    display: flex;
    justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
  }
</style>