* Not in use for now
* Might in future be used to manage users
<script>
export default {
  data() {
    return {
      message: 'User Management'
    }
  }
}
</script>

<template>
  <h1>{{ message }}</h1>
</template>